@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 1.4rem 3rem;
}

.title-header {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

main {
    background-color: #333;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    max-width: 64rem;
    margin: 1.4rem auto;
    flex: 1 0 auto;
}

input,
textarea {
    margin-bottom: 1.4rem;
    font-size: 1rem;
    padding: 1.4rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.4rem 8rem;
    flex-shrink: 0;
}

.single-doc {
    margin-top: 0.5rem;
}

.single-doc a:hover {
    color: rgb(181, 181, 181);
    cursor: pointer;
}

.single-doc a {
    color: #fff;
}

.new-doc {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.new-doc-add {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.textarea {
    padding: 0.2rem;
    margin-right: 1rem;
}

.button {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 0.7rem;
    background-color: #6fbcff;
    margin: 0 auto;
}

.new-doc-button {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 0.7rem;
    background-color: #6fbcff;
}


.new-doc-button:hover {
    background-color: #94cdff;
    cursor: pointer;
}

.button:hover {
    background-color: #94cdff;
    cursor: pointer;
}

.doc-content {
    resize: vertical;
    min-height: 10rem;
}

.whole-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-rout {
    color: #6fbcff;
}

.nav-rout:hover {
    color: #94cdff;
    cursor: pointer;
}