<%- include('includes/header'); %>
    <h2>Dokument</h2>

    <!-- <div class="docs">
        <% docs.forEach(function(doc){ %>
            <div class="single-doc">
                <h3><a href="/<%= doc.id %>"><%= doc.title %></a></h3>
            </div>
        <% }); %>
    </div> -->

    <form method="POST" action="/newdoc" class="new-doc" >
        <label for="title">Skapa nytt Dokument:</label>
    
        <div class="new-doc-add">
            <input class="textarea" type="text" name="title" value="" placeholder="Titel" />

            <input class="new-doc-button" type="submit" value="Skapa dokument" />
        </div>
    </form>
<%- include('includes/footer'); %>
